

//colors
$main-text-c: #000;
$primary: #FFAEBC;
$secondary: #A0E7E5;
$main-bg-c: #FFF;
$border-c-primary: $secondary;
$border-c-secondary: $primary;

//dimensions

$main-fz: 20px;
$main-fz-1024: 18px;
$main-fz-768: 16px;
$main-fz-425: 14px;
$paragraph-mb: 15px;
$base-line-height: 28px;
$base-letter-spacing: 0px;

$transition-speed: 0.3s;